*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
}

ul , ol {
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}


/* ##### HEADER ##### */

header .top-nav ul:first-child li:first-child{
    position: relative;
}

header .top-nav ul:first-child li:first-child::after{
    position: absolute;
    top: 3px;
    right: -30px;
    content: "";
    width: 1px;
    height: 25px;
    background-color: rgb(187, 166, 159);
}

header .top-nav ul:last-child li{
    color: azure;
    padding: 5px;
    background-color: grey;
    margin: 0 5px;
    border-radius: 50%;
}

nav div span{
    font-size: 28px;
    font-weight: 700;
}

nav div ul li {
    margin-left: 50px;
    font-size: 15px;
}

nav div ul li:hover{
    color: orangered;
}

nav div ul li a{
    background-color: black;
    color: aliceblue;
    border-radius: 32px;
    padding: 0px 20px 0px 0;
}

nav div ul li a div{
   color: antiquewhite;
   background-color: orangered;
   border-radius: 50%;
   padding: 8px;
}

nav div ul li a:hover{
    color: orangered;
}

/* ##### MAIN ##### */

main{
  background: url(/img/banner-01.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 220px;
  margin-bottom: 96px;
}

main div{
    padding:0 300px;
}

main div span{
    font-size: 16px;
    font-weight: 500;
    padding: 6px 15px;
    color: black;
    background-color: aliceblue;
}

main div h1{
    font-size: 62px;
    font-weight: 700;
    color: aliceblue;
}

/* ##### APARTMENTS ##### */

section .apartments .ap-img div{
    bottom: -30px;
    left: -30px;
    background-color: orangered;
}

section .apartments .features span{
    font-size: 16px;
    font-weight: 700;
    color: orangered;
    position: relative;
    margin-left: 10px;
}

section .apartments .features span::before{
    content: "";
    height: 20px;
    width: 3px;
    left: -10px;
    background-color: orangered;
    position: absolute;
}

section .apartments .features h3{
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}

section .apartments .features h6{
    color: orangered;
    padding: 12px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 50px;
}

section .apartments .features p{
    padding: 12px;
    overflow: hidden;
}

section .apartments div ul{
    padding-top: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

section .apartments div ul li{
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(201, 195, 195);
}

section .apartments div ul li div{
    margin-right: 25px;
}

section .apartments div ul li h4{
    font-weight: 800;
}

section .apartments div ul li h4 span{
    font-weight: 400;
    font-size: 14px;
    color: rgb(129, 131, 134);

}

/* ##### Video ##### */

.video-section{
    margin-bottom: 250px;
}

section .video{
    margin-top: 120px;
    background-image: url(/img/bgimg3.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 50px 100px 0 100px;
}

section .video h5{
    color: #ee626b;
    display: inline-block;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 700;
}

section .video h5::before{
    content: "";
    height: 20px;
    width: 3px;
    left: 600px;
    position: absolute;
    background-color: #ee626b;
}

section .video h3{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    color: aliceblue;
    line-height: 56px;
}

section .video .video-img{
   margin: 0 auto;
   position: relative;
   top: 180px;
   left: 0;
   right: 0;
}

section .video .video-img img{
    border-radius: 20px;
}

section .video .video-img div{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
}

/* ##### Facts ##### */

.facts{
    margin-bottom: 80px;
}

.facts .works{
    background-color: #ffeee9;
    border-radius: 10px;
    position: relative;
}

.facts .works::after{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    background-color: #f35525;
    border-radius: 50%;
    right: -25px;
    top: -25px;
}

.facts .works h3{
    font-size: 40px;
    color: #f35525;
    font-weight: 700;
}

.facts .works ul li{
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

/* ##### Options ##### */

.deals .options{
    background-color: #fafafa;
}

.deals .options .options-nav h5{
    font-size: 15px;
    font-weight: 700;
    color: #f35525;
    margin-left: 10px;
    position: relative;
} 

.deals .options .options-nav h5::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 15px;
    background-color: #f35525;
    top: 0;
    left: -10px;
}

.deals .options .options-nav h3{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}

.property-item {
  display: none;
}

.property-item.show {
  display: block;
}

.properties-filter a:active {
  font-weight: bold;
  color: white;
  background-color: #f35525;
}

.options .options-nav .properties-filter li a{
    background-color: #1E1E1E;
    font-size: 16px;
    padding: 10px 22px;
    margin-left: 20px;
    font-weight: bold;
}

.properties .property-item .specs{
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.properties .property-item .specs ul li{
    margin-bottom: 24px;
    padding-bottom: 24px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    color: #AAAAAA;
}

.properties .property-item .specs ul li span{
    color: #1e1e1e;
    font-weight: 700;
    font-size: 20px;
}
=======
a{
    text-decoration: none;
    display: inline-block
}

img{
    width: 100%;
}

ul {
    list-style:none;
}

:root{
    --orenge:#f14040;
    --purpale:#330b3b;
    --light-purpale:#9845AA;
    --white:white;
    --light-t-purpale:#654c6b;
    --light-tt-purpale:#6f6794;
    --lighti-t-orenge:#e67e43;
    --yellow-t-:#ffcb62;
    --pink-y-:#ff6060;
    --pink-x-pink:#ff6060;


}

:root{
    --dancing-script: "Dancing Script", cursive;
    --inter:"Inter", sans-serif;
    --roboto: "Roboto Slab", serif;
}
/* ##### HEADER ##### */

header{
        background-color: var(--purpale);

}

header .bg-img{
    background-image: url(/image/event8-slider-pic1\ \(1\).webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

header .nav .buttons a{
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
header .nav .buttons a:hover{
    color: rgb(247, 122, 77);
    border-bottom: solid 3px var(--orenge);
}

header .nav .buttons a:last-child{
    background-color: rgb(255, 93, 34);
    padding: 12px 20px;
    border-radius: 55px;
    margin-left: 15px ;
}

header .nav .buttons a:first-child{
    border-bottom: solid 3px var(--orenge);
  
}

header .nav .buttons a:last-child:hover{
    color: white;
}


header .timetoparty{
    font-family: var(--dancing-script);
    color: var(--white);
    font-size: 42px;
}

header .timetoparty i{
    font-size: 16px;
    margin: 0 16px;
    color: var(--orenge);
}

header .event{
    font-family: var(--inter);
}

header .event{
    font-size: 77px;
    font-weight: 800;
}

header .event span{
    font-size: 35px;
    padding: 6px 6px 10px 6px;
    color: var(--orenge);
    border: 2px solid var(--light-t-purpale);
    border-radius: 6px;
}

header .event ul li:last-child{
    color: var(--orenge);
} 

header .nav > p{
    margin-left: 40px;
    padding-right: 150px;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 19px;
}

.nav .btn a:first-child{
    background-color: var(--orenge);
    font-size: 15px;
    border: 1px solid var(--orenge);
    border-radius: 25px;
    padding: 8px 30px;
    margin:  0 30px;
    color: var(--white);
    font-family: var(--inter);
    font-weight: 700;
}

.nav .btn a:first-child:hover{
    background-color: var(--white);
    color: var(--orenge);

}

.nav .btn a:last-child{
    color: var(--orenge);
    font-weight: 700;
    font-family: var(--inter);
    font-size: 15px;
    padding: 8px 30px;
}

.nav .btn a:last-child:hover{
    color: var(--white);
    border-radius: 25px;
    border: 1px solid var(--orenge);    
}


/* ##### card ##### */

.card .card-items{
    background-color: var(--purpale);
}




